<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Benutzerprofil-Liste</title>

    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 80%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>

</head>
<body>
    <h1 th:text="#{profilliste.title}">Benutzerprofil-Liste</h1>
    <a th:href="@{?sprache=de}">DE</a>
    <a th:href="@{?sprache=en}">EN</a>

    <table>
        <tr>
            <th th:text="#{profilliste.tab.name}">Name</th>
            <th th:text="#{profilliste.tab.geburtsdatum}">Geb.</th>
            <th th:text="#{profilliste.tab.email}">EPost</th>
            <th th:text="#{profilliste.tab.adresse}">aus</th>
            <th th:text="#{profilliste.tab.loeschen}">löschen</th>
        </tr>
        <tr th:if="${not #lists.isEmpty(profilliste)}" th:each="profilele: ${profilliste}">
            <!--<td><a  th:href="@{?op=bearbeiten&id=dieid}" th:text="${profil.name}">Person 1</a></td>-->
            <td><a th:href="@{/benutzerprofil/liste(op=bearbeiten,id=${profilele.id})}" th:text="${profilele.name}" th:id="${profilele.id}">Löschen</a></td>
            <td th:text="${profilele.geburtsdatum}">2022</td>
            <td th:text="${profilele.email}">person@mail.com</td>
            <td th:text="${profilele.adresse}">Adresse</td>
            <!--<td><a th:href="@{?op=loeschen&id=${profil.name}}" th:text="#{profilliste.tab.loeschen}" th:id="${profil.id}">Löschen</a></td>-->
            <td><a th:href="@{/benutzerprofil/liste(op=loeschen,id=${profilele.id})}" th:text="#{profilliste.tab.loeschen}" th:id="${profilele.id}">Löschen</a></td>

        </tr>
    </table>

    



</body>
</html>