<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Benutzerprofil</title>
</head>
<body>
    <h1>Benutzerprofil</h1>
    <h2>Ihre Daten</h2>
    <table>
        <tr>
            <td><b>Name</b></td>
            <td th:text="${name}">kein Name angegeben</td>
        </tr>
        <tr>
            <td><b>Geburtsdatum</b></td>
            <td th:text="${geburtsdatum}">kein Geburtsdatum angegeben</td>
        </tr>
        <tr>
            <td><b>Adresse</b></td>
            <td th:text="${adresse}">keine Adresse angegeben</td>
        </tr>
        <tr>
            <td><b>E-Mail</b></td>
            <td th:text="${email}">keine E-Mail angegeben</td>
        </tr>
        <tr>
            <td><b>Lieblingsfarbe</b></td>
            <td th:text="${lieblingsfarbe}">keine Lieblingsfarbe angegeben</td>
        </tr>
    </table>
    <h3>Interessen</h3>
    <ol>
        <li th:if="${#lists.size(interessen)} > 0" th:each="s: ${interessen}" th:text="${s}"></li>
    </ol>


</body>
</html>