<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Benutzerprofil</title>
</head>
<body>
    <h1>Benutzerprofil</h1>
    <h2>Ihre Daten</h2>
    <table>
        <tr>
            <td><b>Name</b></td>
            <td th:text="${profil.name}">kein Name angegeben</td>
        </tr>
        <tr>
            <td><b>Geburtsdatum</b></td>
            <td th:text="${profil.geburtsdatum}">kein Geburtsdatum angegeben</td>
        </tr>
        <tr>
            <td><b>Adresse</b></td>
            <td th:text="${profil.adresse}">keine Adresse angegeben</td>
        </tr>
        <tr>
            <td><b>E-Mail</b></td>
            <td th:text="${profil.email}">keine E-Mail angegeben</td>
        </tr>
        <tr>
            <td><b>Lieblingsfarbe</b></td>
            <td th:text="${profil.lieblingsfarbe}">keine Lieblingsfarbe angegeben</td>
        </tr>
    </table>
    <h3>Interessen</h3>
    <ol>
        <li th:if="${#lists.size(profil.interessen)} > 0" th:each="s: ${profil.getInteressenListe()}" th:text="${s}"></li>
    </ol>

    <button onclick="window.location.href='/benutzerprofil/bearbeiten'">Bearbeiten</button>


</body>
</html>