<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .fehler{
            border: 2px solid red;
        }
    </style>
    <title>Benutzerprofil</title>
</head>
<body>
    <h1 th:text="#{profilbearbeiten.title}">Benutzerprofil Bearbeitungsmodus</h1>
    <a th:href="@{?sprache=de}">DE</a>
    <a th:href="@{?sprache=en}">EN</a>
    <h2 th:text="#{profil.ihredaten}">Ihre Daten</h2>
    <form th:action="@{/benutzerprofil/bearbeiten}" th:method="POST" th:object="${profil}">
        <label for="name"><b th:text="#{profil.name}">Name:</b></label><br>
        <input type="text" id="name" name="name" th:field="*{name}" th:errorclass="fehler"></input><br>
        <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></label><br><br>

        <label for="geburtsdatum"><b th:text="#{profil.geburtsdatum}">Geburtsdatum:</b></label><br>
        <input type="date" id="geburtsdatum" name="geburtsdatum" th:field="*{geburtsdatum}" th:errorclass="fehler"></input><br>
        <label th:if="${#fields.hasErrors('geburtsdatum')}" th:errors="*{geburtsdatum}"></label><br><br>

        <label for="adresse"><b th:text="#{profil.adresse}">Adresse:</b></label><br>
        <input type="text" id="adresse" name="adresse" th:field="*{adresse}" th:errorclass="fehler"></input><br>
        <label th:if="${#fields.hasErrors('adresse')}" th:errors="*{adresse}"></label><br><br>

        <label for="email"><b th:text="#{profil.email}">E-Mail:</b></label><br>
        <input type="text" id="email" name="email" th:field="*{email}" th:errorclass="fehler"></input><br>
        <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></label><br><br>

        <label for="lieblingsfarbe"><b th:text="#{profil.lieblingsfarbe}">Lieblingsfarbe:</b></label><br>
        <input type="color" id="lieblingsfarbe" name="lieblingsfarbe" th:field="*{lieblingsfarbe}" th:errorclass="fehler"></input><br>
        <label th:if="${#fields.hasErrors('lieblingsfarbe')}" th:errors="*{lieblingsfarbe}"></label><br><br>

        <label for="interessen"><b th:text="#{profilbearbeiten.interessen}">Interessen</b></label><br>
        <input type="text" id="interessen" name="interessen" th:field="*{interessen}" th:errorclass="fehler"></input><br>
        <label th:if="${#fields.hasErrors('interessen')}" th:errors="*{interessen}"></label><br><br>

        <input type="submit" name="abschicken" th:value="#{profil.speichern}"/>
        <button onclick="window.location.href='/benutzerprofil'" th:text="#{profil.abbrechen}" type="reset">Zurück</button>
    </form>
</body>
</html>